* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "work sans", Sans-Serif, Arial;
}

:root {
  --headColor1: #034001;
  --headColor2: #055902;
  --headColor3: #078c03;
  --footColor1: #059212;
  --footColor2: #9bec00;
  --inputPadding :20px;
}

header .container {
  display: flex;
  justify-content: space-between;
  padding: 15px;
  background-image: linear-gradient(
    45deg,
    var(--headColor1) 30%,
    var(--headColor2) 60%,
    var(--headColor3) 100%
  );

  align-items: center;
  height: 40px;
  width: 100%;
  background-size: cover;
  background-attachment: fixed;
  overflow: visible;
}
.logo {
  width: 30px;
  height: 30px;
}
@media (max-width: 667px) {
}
header .container .bar1 {
  display: none;
}
header .list {
  list-style-type: none;
  right: -15px;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 30px;
  align-items: center;
  border-bottom-left-radius: 10px;
}
.list li a {
  display: flex;
  justify-content: space-between;
  width: auto;
  text-decoration: none;
  text-wrap: nowrap;
  color: white;
  font-size: 12px;
  font-weight: bold;
  margin-left: 10vw;
}
.list li a span {
  margin-left: 5px;
}
/* start section */
section {
  background-image: url("../images/mainBackground.jpg");
  background-size: cover;
}
section .container {
  height: 100vh;
}
section .container form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 10px;
  height: fit-content;
  width: 100%;
}

section .container form input:focus {
  outline: none;
}
section .container input {
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
  outline: none;
  border:solid  var(--headColor3) 2px ;
}
section .container input[type="number"] {
  padding-top: var(--inputPadding);
  padding-bottom:var(--inputPadding) ;
  margin-bottom: 2px;
  height: 20px;
  width: calc(50% - 5px);
  padding: 10px;
}
section .container input[type="text"] {
  width: 100%;
  height: 30px;
  margin-bottom: 2px;
}
section .container input[type="button"]{
  padding: 10px;
  border: none;
}

#GradesAndCreditsDiv{
display: flex;
flex-direction: column;
align-items: center;
}

#calc{
  background-color: #FF8C42;
  color: white;
}
/* end section */

/* start framework */
.filed {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  flex-wrap: nowrap;
}
.column {
  flex-direction: column;
}
.two-width {
  width: calc(100% / 2 );
}
.full-width {
  width: 100%;
}
.grow {
  flex-grow: 1;
}
/* end frame work */
/* start copyright */
footer {
  background-image: linear-gradient(
    45deg,
    var(--footColor1),
    var(--footColor2)
  );
  color: white;
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  align-items: center;
  font-size: 15px;
  font-weight: bold;
  line-height: 1.6;
}
footer div {
  width: 100%;
}

/* end copyright */
